{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- Description -->
            <title>Sankalp, A social Initiative by Kshitij, The Annual Techno-Management Fest of IIT Kharagpur</title>
            <meta name="description" content="The 13th edition of Asia's largest techno-management fest, conducted by IIT Kharagpur." />
            <meta name="keywords" content="Kshitij,2016, Kshitij 2016, Asia's largest, Techno-management fest, Online Events, IIT Kharagpur, technology, management, ASME, IEEE, ACM, ASHRAE, IMechE, college fest, university, India, IIT, Indian Institute of technology, Kshitij 2015, technical fest, events, megashows,guests, workshops, c-monopoly, forex, excaliber, cryptex, innovation, Online Competitions, West Bengal, Bombay, Delhi, Science, robotix, robotics, India, Kgp, IIT Kgp" />
            <base href="" />
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-66400807-1', 'auto');
              ga('send', 'pageview');

            </script>

<link href="/static/peace/css/main.css" rel="stylesheet" type="text/css"/>
<link href='https://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300' rel='stylesheet' type='text/css'>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 <!--<script type="text/javascript" src="libs/jquery.slimscroll.min.js"></script>-->
<script src="/static/peace/js/scripts.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<!-- <link href="libs/prettify/prettify.css" type="text/css" rel="stylesheet" /> -->
<!-- <script type="text/javascript" src="libs/prettify/prettify.js"></script> -->
<!-- <script type="text/javascript" src="../jquery.slimscroll.js"></script> -->

<!-- Aplication icons -->
            <meta name="mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-status-bar-style" content="black" />
            <link rel="shortcut icon" sizes="196x196" href="{% static 'administrator/media/page/app_icon_196.png' %}"  />
            <link rel="shortcut icon" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="shortcut icon" sizes="24x24" href="{% static 'administrator/media/page/icon.png' %}" />
            <link rel="apple-touch-icon" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="apple-touch-startup-image" href="{% static 'administrator/media/page/app_icon_196.png' %}" />
        <!-- -->
        <!-- Share -->
            <meta property="og:title" content="Sankalp, A social Initiative by Kshitij, The Annual Techno-Management Fest of IIT Kharagpur" />
            <meta property="og:description" content="The 13th edition of Asia's largest techno-management fest, conducted by IIT Kharagpur." />
            <meta property="og:image" content="http://i.imgur.com/ZjnygnD.jpg?1" />
            <meta itemprop="sameas" content="https://en.wikipedia.org/wiki/Kshitij" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
        <!-- -->


</script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=474870909342121";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<body style="overflow:hidden;">
<div id="wrapper">
  <header id="main_header">
        <img src="/static/peace/images/ktj.png" style=" margin:15px;margin-left:0px;margin-top:25px;"/>
        <div style="position:absolute; top:320px; left:350px; font-family: 'Paytone One', sans-serif;color: #00aeef;font-size: 25px;">
        <span>In collaboration with </span><img src="http://imagizer.imageshack.us/v2/1024x768q90/908/Ia4vE2.png" style=" width:20%; position:relative; top:60px;left:-200px;"/></div>    
    <img src="/static/peace/images/ktjlogo.png" style="float:left;left:0px; margin:15px;"/> 
    <img src="../static/administrator/media/page/template/logo3.png"  style="width: 4.65%;position: absolute;margin:10px;left: 64%;" >
        <img src="/static/images/unesco.png"  style="width:10%;position: absolute;left: 69%;margin:10px;" >
        <img src="/static/images/sayen.png"  style="width:9%;position: absolute;left: 79%;margin:3px;" >
        <img src="/static/images/cee.png"  style="width:10%;position: absolute;top: 53px;left: 89%;margin-let:-10px;" >
    </header>
    <section id="main_section">
    	<section id="main_content">

<article class="content" id="title">
  <div id="heading">SANKALP<br>
    <span>A SOCIAL INITIATIVE BY KSHITIJ</span></div>
  <div id="nav_buttons"><div onclick='loadhash("#Home");'>Home</div><div onclick='loadhash("#Rules");'>Rules</div><div  onclick='loadhash("#Problem");'>Problem Statement</div><div onclick='loadhash("#Register");'>Registration</div><div onclick='loadhash("#Prizes");'>Prizes</div><div onclick='loadhash("#Contacts");'>Contacts</div><div onclick='loadhash("#Results");'>Results</div></div>
</article>

<article class="content" id="edit_content" style="top:110px;">
	
	<div><h3 id='content_head'>Home</h3><br>
    <article id='page_content' style="font-family: 'Tangerine', serif;color:#fff;font-size:20px;">
	<div id="testdiv" >
Child malnutrition, encompassing undernutrition, obesity, and overweight, is prevalent in low and middle-income countries and severely impedes human, social and economic development. Undernourished children have significantly lower chances of survival than children who are well-nourished. They are much more prone to serious infections and to die from common childhood. The risk of dying increases with the severity of the under-nutrition. Nutrition is important to ensure proper brain formation and development, which starts in the womb: Development of the brain starts during early childhood.<br>
Evidence suggests that children who are stunted often enrol late in school, complete fewer grades and perform less well in school. This, in turn, affects their creativity and productivity in later life and fall ill more often. It has also been established that children with deficient growth before age two are at an increased risk of chronic disease as adults, especially if they gain weight rapidly in the later stages of childhood. A low birth weight baby, who is stunted and underweight in its infancy and gains weight rapidly in childhood and adult life, is much more prone to chronic conditions such as cardiovascular disease and diabetes. <br>
Although a wide ranging harmful short-and long term effects of malnutrition have been well-documented, more evidence is needed to investigate and demonstrate the causal link between Nutrition for Human Resource and the development of human capital, and quantify the economic effects.<br>

The scale and complexity of the challenge posed by malnutrition is enormous. All stakeholders need to contribute to addressing it, including social entrepreneurs.<br>

Kshitij has determined to resolve this Social Issue and joined hands with UNICEF. Kshitij brings you this cutting-edge platform to contribute in a big way to eradicate this Child Malnutrition through its’ Initiative, “Sankalp” in collaboration with UNICEF.</div></article></div>

  <div class="fb-comments" data-href="https://ktj.in/sankalp" data-width="500" data-numposts="5"></div>
</article>
      </section>
    </section>
//     <script type="text/javascript">
//     $(function(){

//       $('#testdiv').slimScroll();

//       $('#testDiv2').slimScroll({
//           allowPageScroll: true
//       });

//     });
// </script>


</div>
</body>
</html>
