<html>
    <head>
    </head>
    <body>
    	
        <h3 style="position:absolute;left:30%;top:30%;">You are successfully logged in.You are not registered yet</h3>
        <h1 style="position:absolute;left:30%;top:40%;">click here to register<b>again</b> to <b style="color:red;">
        	<a href="/workshop11/work_ktj_983472">REGISTER</a></b></br></br></br></h1>
        <button style="position:absolute;left:30%;top:50%;"><a href="/workshop11/logout" style="text-decoration:none;">LogOut</a></lutton>
    </body>
</html>