<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{%load static %}
{% load lowertrim %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kshitij 14th Edition - Regional workshop</title>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files -->
<link href="/static/blockchain/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="/static/blockchain/css/style.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" type="text/css" href="/static/blockchain/css/component.css" />
<link rel="stylesheet" href="/static/blockchain/css/swipebox.css">

<!-- //Custom Theme files -->
<!-- js -->
<script src="/static/blockchain/js/modernizr.custom.js"></script>
<script src="/static/blockchain/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/blockchain/js/move-top.js"></script>
<script type="text/javascript" src="/static/blockchain/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!-- //js --><!-- swipe box js -->
	<script src="js/jquery.swipebox.min.js"></script>
	    <script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
	</script>
<!-- //swipe box js -->


<!--web-fonts-->
	<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!-- start-smoth-scrolling-->
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
    <style>
        #home {
    background: url("/static/blockchain/img/header-bg1.jpg") no-repeat 0px 0px;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    min-height:800px;

}
        table{

  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #00acc1;
 }
.tbl-content{

  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}




/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
    </style>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!-- main content start-->
     <!--start-home-->
	<div id="home" class="header">
		<div class="header-top">

				<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                        <a class="navbar-brand page-scroll" href="#page-top"style="padding:0px 0px;"><img src="/static/blockchain/img/ktj17.png" ></a>
				</div>

				<div class="collapse navbar-collapse navbar-right" id="navbar">
					<div class="top-nav">

						<a href="#about" class="hover-effect scroll">
								<span>
									<span>ABOUT</span>
									<span>ABOUT</span>
									<span></span>
								</span>
							</a>

							<a href="#topic" class="hover-effect scroll">
								<span>
									<span>TOPICS</span>
									<span>TOPICS</span>
									<span></span>
								</span>
							</a>

						<a href="#details" class="hover-effect scroll">
								<span>
									<span>DETAILS</span>
									<span>DETAILS</span>
									<span></span>
								</span>
							</a>
							<a href="#register" class="hover-effect scroll">
								<span>
									<span>REGISTER</span>
									<span>REGISTER</span>
									<span></span>
								</span>
							</a>

							<a href="#contact" class="hover-effect scroll">
								<span>
									<span>CONTACT</span>
									<span>CONTACT</span>
									<span></span>
								</span>
							</a>


					</div>
				</div>

			</div>
		</nav>
		</div>
		<!-- //Navbar -->
	<!--End-top-nav-script-->.
		<!--//end-header-->
		<div class="clearfix"></div>
<div class="img">

    <div class="col-sm-12">
        <span style="display: inline;padding-right: 15px;"> <a target="_blank" href="http://ktj.in"><img src="/static/blockchain/img/logos/ktjlogo.png" width=130 height=130> </a></span>
        <span style="display: inline;padding-left:10px; padding-right:10px;"> <a target="_blank" href="http://ktj.in"><img src="/static/blockchain/img/and.png"> </a></span>
        <span style="display: inline;padding-left: 15px;"> <a target="_blank" href="http://www.robotechlabs.com"><img src="/static/blockchain/img/logos/robotech.png"> </a></span>
        </div>

               </div>
        <div class="present">

    <div class="col-sm-12">

        <span style="display: inline;"> <h2 style="color: #fff">Present</h2></span>
        </div>

               </div>
			<div class="banner-w3-info">


					 <div class="logo">
						<a class="link link--surinami" href="/roboticsworkshop">TECHNOTRON</span></a>
					 </div>


				</div>

        <div class="more">

    <div class="col-sm-12">

        <span style="display: inline;"> <a href="#about" class="hvr-shutter-in-vertical">Read More<span class="glyphicon glyphicon-arrow-right"></span></a>
</span>
        </div>

               </div>
	    </div>
	  <!--//end-banner-->
        <!--modal-video-->

     <!-- app-->

<div id="about" class="banner-bottom">
	<div class="container">
	    <div class="inner-w3">
		   <h3 class="title">About us <span></span></h3>
		</div>
		<div class="adt_grids">

			<div class="col-lg-12 text-center">

                    <p>The workshop is oriented towards the idea of bestowing students the opportunity to inculcate the

acuity of technical know-how of robotics and how image processing changes things in a flash. Robotics

and image processing are the recent and most enthralling realms in the field of science. Students will

have time to explore our kits themselves with guided activities throughout the workshop which will

succour them in learning the basics and apply them in vicissitudes. After having this workshop session,

students will undeniably descry their morale to wrangle in robotics competitions- image processing,

machine control or aerial robotics. The workshop will be conducted by the trailblazers of robotics and

image processing having plethora of expertise in this field at countless international platforms.

The workshop is a secure platform for students to imbue into the field of robotics and exertion on image

processing. The workshop helps the students to learn all the basics and apply them in actuality using our

kits.

The workshop helps the students to emulate all the competitions related to robotics, Image processing,

Aerial Robotics etc.

Concede the fact that Practical knowledge is better than speculative, this is a fully hands-on workshop

which provide better learning confront to participants.

This is a workshop which has components parts as basic coding to program a board, programming a ball

following bot and control power point presentation and VLC media player by just waving your hand with

the use of sixth sense technology.

</p>
                </div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //banner-bottom -->
 <!--/features-->

		<!--//features-->
		<!--service-->
	<div class="topic" id="topic">
	<div class="container">
			     <div class="inner-w3 w3l">
					<h3 class="title two">Topics to be covered during the workshop<span class="two"></span></h3>
					</div>
	           <div class="col-md-5 features-left">
						     <div class="trainer-gent-inner">
					 <div class="features-text">
					<p> Introduction to Robotics and Combination of Robotics with Sixth Sense</p>
                        <p> Microcontroller Programming</p>
                        <p> Machine Control</p>
                        <p> Introduction to Computer vision</p>
                        <p> Digital Image Processing in Matlab</p>
                        <p> Image Manipulation in Matlab</p>
                        <p> Video acquisition and Manipulation</p>
					 </div>
				 </div>
			   </div>
			   <div class="col-md-7 features-right">
                   <h3>The final aim is to build various vision based machines</h3>
			    <ul class="workout-exercises">
					<li>
                     <h4>Robots that will be covered on this day include (apart from discussing any ideas from the participants) </h4><p> LED and Motor Control</p></li>
					<li>
                      <h4>Students Learn the basic code to program the board. They learn how to glow the LED’s and make
patterns on them , secondly they learn how to control the motors. </h4><p> Computer Controlled Robot</p>
				    </li>
					<li>
                      <h4>The Students make a Robot which shall be able to follow a ball using the camera attached. The
programming and concept are taught in detail. </h4><p> Change a PowerPoint Presentation with your hands</p><p> Control Media Player with Hand Movements.</p>
				    </li>
                    <li>
                      <h4>Students Learn to control the Robot by sending commands through the Keyboard. It is same like
playing a racing game and control your car using ASWDX </h4><p> Ball Following Robot</p>
				    </li>

					 </ul>
			   </div>

			</div>


		<div class="clearfix"> </div>
	</div>
	<!--//service-->
<!--//team -->
<div id="details" class="reviews">
		    <div class="container" style="    padding-top: 10%;
    padding-bottom: 20%;" >

            <div class="row">
                    <div class="col-lg-12 text-center" >

                <h2 class="section-heading">Duration & Charges </h2>

 <p>workshops will be conducted in one day. It will have an eight hours session. This is properly divided
into theory and hands-on sessions.<br>
In the end we organize a small competition among the participants of the workshop so
that they get real feel of competitive environment.<br></p>
                        <h2>Charges</h2>
                        <p>The charges are Rs 400 per student.<br>
                            Fee is non refundable<br>
The Charges includes:<br>
Training fee of the 1 day workshop<br>
Handouts and training material<br>
Participation certificate<br>
Additionally, a detailed manual will also be provided to each participant in soft copy<br>
                       Kits will be takeway after paying a price of INR 2000</p>
            </div>

            </div>
                	<div class="clearfix"> </div>
        </div>
	</div>
<!--//team -->
<!---->
<div class="content-bottom" id="register" style="    padding-top: 10%;">

		<div class="container" >


            <div class="row">
                <div class="col-lg-12 text-center" style="margin-top: -80px;">
                    <h1>Regions For Workshop</h1>
<div  class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th>City</th>
      <th>Date</th>
      <th>Venue</th>

      <th>Register</th>

    </tr>
  </thead>
</table>
</div>
<div  class="tbl-content">
<table cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr >
      <td>Kolkata</td>
      <td>24th Sept 2016</td>
      <td>Seacom Engineering College</td>
      <td style ="cursor: pointer;" id="reg_1"><a href="/roboticsworkshop/kolkata"  >Register</a></td>

    </tr>
    <tr>
      <td>Bhubneswar</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
      <td style ="cursor: pointer;" id="reg_2" ><a  href="/roboticsworkshop/bhubneswar">Register</a></td>

    </tr>
    <tr>
      <td>Indore</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
     <td  style ="cursor: pointer;"id="reg_3" ><a  href="/roboticsworkshop/indore">Register</a></td>

    </tr>
   <tr>
      <td>Allahabad</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
      <td style ="cursor: pointer;" id="reg_4" ><a  href="/roboticsworkshop/allahabad">Register</a></td>

    </tr>
   <tr>
      <td>Hyderabad</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
      <td  style ="cursor: pointer;"id="reg_5"><a  href="/roboticsworkshop/hyderabad">Register</a></td>

    </tr>
   <tr>
      <td>Kanpur</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
      <td  style ="cursor: pointer;"id="reg_6"><a  href="/roboticsworkshop/kanpur" >Register</a></td>

    </tr>
    <tr>
      <td>Lucknow</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
     <td style ="cursor: pointer;" id="reg_7" ><a href="/roboticsworkshop/lucknow">Register</a></td>

    </tr>
    <tr>
      <td>Raipur</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
      <td  style ="cursor: pointer;" id="reg_8" ><a  href="/roboticsworkshop/raipur">Register</a></td>

    </tr>
    <tr>
      <td>Rourkela</td>
      <td>Coming soon</td>
      <td>Coming soon</td>
     <td style ="cursor: pointer;"id="reg_9" ><a  href="/roboticsworkshop/rourkela">Register</a></td>

    </tr>

  </tbody>
</table>
</div>








           </div>


            </div>


         <div class="row">

                    {% if user.is_authenticated %}
             <div class="col-lg-12 text-center" >
             <div class="ev_sub_data"><h3><div id='blockchain_3_03'></div></h3>
                   <div class="col-lg-12 text-center" >
                </div>

                 <div class="col-lg-12 text-center"  >
                <button onclick="logout()" class="btn btn-xl" >Logout</button>


                 </div>
 <div class="col-lg-12 text-center" >


                       <p>Please register for one region only</p>
     <p>Charges  ₹ 400 per Student</p>
                </div>
                            </div>

                {% else %}

                    <div class="col-lg-12 text-center" >

                <h3 class="section-heading">You are not logged in!!</h3>
                <div class="col-xs-6"  >
                 <button class="btn btn-xl" ><a href="/accounts/msignin">Login</a></button></div>
               <div class="col-xs-6"  >
                <button class="btn btn-xl" ><a href="/msignup">signup</a></button></div>
            </div>              {% endif %}



            </div>


</div>
        <div class="row"></div><div class="row"></div>
    <div class="clearfix"> </div>
</div>   </div>





<!-- gallery -->

    <!-- Include jQuery & Filterizr -->

    <script src="/static/blockchain/js/jquery.filterizr.js"></script>
    <script src="/static/blockchain/js/controls.js"></script>

    <!-- Kick off Filterizr -->
    <script type="text/javascript">
        $(function() {
            //Initialize filterizr with default options
            $('.filtr-container').filterizr();
        });
    </script>
	<!--//gallery-->
	<!---->

<!-- contact -->
<div id="contact" class="contact" style="padding-top: 5%;">
	<div class="container">
			<div class="inner-w3">
					<h3 class="title">CONTACT<span></span></h3>
				</div>
			     <div class="staff-section">
				    <div class="col-md-3 staff-grid  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="/static/blockchain/img/rahul.jpg" /></a>
							 <div class="mask"></div>
						  </div>
							<h4>Rahul Yadav</h4>
                           rahul.yadav@ktj.in<br>
                            +91 9933893231<br>
				     </div>
					  <div class="col-md-3 staff-grid animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
				         <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="/static/blockchain/img/harsh.jpg" /></a>
							 <div class="mask"></div>
						</div>
						<h4>Harsh Bhardwaj</h4>
                           harsh.bhardwaj@ktj.in<br>
                            +91 8145801125<br>
				     </div>
					 <div class="col-md-3 staff-grid animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="/static/blockchain/img/yash.jpg" /></a>
							 <div class="mask"></div>
						  </div>
						  <h4>Yash bajaj</h4>
                           yash.bajaj@ktj.in<br>
                            +91 9933911231<br>

				     </div>
					  <div class="col-md-3 staff-grid  animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
				          <div class="view fifth-effect">
							 <a href="index.html" title="Full Image"><img src="/static/blockchain/img/neeraj.jpg" /></a>
							 <div class="mask"></div>
						  </div>
							<h4>Neeraj Giri</h4>
                           Neeraj.giri@ktj.in<br>
                            +91 8768792833<br>
				     </div>
					   <div class="clearfix"></div>
				 </div>
	      </div>
</div>
<!-- //contact -->
<!-- footer -->
<div class="footer wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="0.2s">
	<div class="container">


		<div class="footer_top text-center">
		<div class="main-nav">
				  <span class="menu"></span>
				      <div class="top-menu">
							<a href="#about" class="hover-effect scroll two">
								<span>
									<span>ABOUT</span>
									<span>ABOUT</span>
									<span></span>
								</span>
							</a>

							<a href="#service" class="hover-effect scroll two">
								<span>
									<span>TOPICS</span>
									<span>TOPICS</span>
									<span></span>
								</span>
							</a>
						<a href="#details" class="hover-effect scroll two">
								<span>
									<span>DETAILS</span>
									<span>DETAILS</span>
									<span></span>
								</span>
							</a>
							<a href="#register" class="hover-effect scroll two">
								<span>
									<span>REGISTER</span>
									<span>REGISTER</span>
									<span></span>
								</span>
							</a>


							<a href="#contact" class="hover-effect scroll two">
								<span>
									<span>CONTACT</span>
									<span>CONTACT</span>
									<span></span>
								</span>
							</a>

				</div>
             </div>
		</div>
		<div class="copy_right text-center">
			<p> &copy; 2017 Kshitij. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
			  <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/ktj_iitkgp"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com/ktj.iitkgp/?fref=ts"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.linkedin.com/company/3301309?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A3301309%2Cidx%3A2-1-9%2CtarId%3A1451575317973%2Ctas%3Akshitij%20"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
		</div>
	</div>
</div>
<!-- //footer -->

<!-- //footer -->
	<!--//main content start-->
	<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //for bootstrap working -->
<script src="js/bootstrap.js"></script>


<!-- //for bootstrap working -->


</body>
</html>