{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <!-- Description -->
            <title>Digital India Summit - Kshitij 2016 - The Annual Techno-management Fest of IIT Kharagpur</title>
            <meta name="description" content="The 13th edition of Asia's largest techno-management fest, conducted by IIT Kharagpur." />
            <meta name="keywords" content="Kshitij,2016, Kshitij 2016, Asia's largest, Techno-management fest, Online Events, IIT Kharagpur, technology, management, ASME, IEEE, ACM, ASHRAE, IMechE, college fest, university, India, IIT, Indian Institute of technology, Kshitij 2015, technical fest, events, megashows,guests, workshops, c-monopoly, forex, excaliber, cryptex, innovation, Online Competitions, West Bengal, Bombay, Delhi, Science, robotix, robotics, India, Kgp, IIT Kgp" />
            <base href="" />
        <!-- -->

        <!-- Aplication icons -->
            <meta name="mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-status-bar-style" content="black" />
            <link rel="shortcut icon" sizes="196x196" href="{% static 'administrator/media/page/app_icon_196.png' %}"  />
            <link rel="shortcut icon" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="shortcut icon" sizes="24x24" href="{% static 'administrator/media/page/icon.png' %}" />
            <link rel="apple-touch-icon" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="apple-touch-startup-image" href="{% static 'administrator/media/page/app_icon_196.png' %}" />
        <!-- -->
        <!-- Share -->
            <meta property="og:title" content="Digital India Summit - Kshitij 2016 - The Annual Techno-management Fest of IIT Kharagpur" />
            <meta property="og:description" content="The 13th edition of Asia's largest techno-management fest, conducted by IIT Kharagpur." />
            <meta property="og:image" content="https://lh4.googleusercontent.com/-NQ6UkmkDHAk/VoZo6_NjlxI/AAAAAAAAUW0/bO-wPilKPw8/w833-h563-no/India+Supports+Event.jpg" />
            <meta property="og:url"           content="https://ktj.in/digitalindia" />
            <meta itemprop="sameas" content="https://en.wikipedia.org/wiki/Kshitij" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
            <meta property="fb:app_id" content="474870909342121" />
            <link rel="canonical" href="https://ktj.in/digitalindia" />
        <!-- -->
        <meta name="theme-color" content="#DE3454">
  <link href="/static/digital/bootstrap.min.css" rel="stylesheet">
  <link href="/static/digital/animate.min.css" rel="stylesheet"> 
  <link href="/static/digital/font-awesome.min.css" rel="stylesheet">
  <link href="/static/digital/lightbox.css" rel="stylesheet">
  <link href="/static/digital/main.css" rel="stylesheet">
  <link id="css-preset" href="/static/digital/preset1.css" rel="stylesheet">
  <link href="/static/digital/responsive.css" rel="stylesheet">
  


  
  
  
  <link rel="shortcut icon" href="/static/images/logo.png">

  <style type="text/css">

  #twitter-box {
   /* margin-left: 30%*/
  }

  #form .container {
    padding-top: 0px;
  }

  input {
    width: 35%;
  }

  #location-input {
    width: 35%;
    border-radius: 5px;
  }

  </style>
  <script type="text/javascript">
  function digital_reg(id)
{
    $("#digital_"+id+"_01").load('/eventreg/register_digital')
}
function digitalworkshop_reg(id)
{
    $("#digital_"+id+"_02").load('/eventreg/register_digitalworkshop')
}

</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "48869156-77ca-43c5-b395-cc7b623b0c23", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
<script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-66400807-1', 'auto');
              ga('send', 'pageview');

            </script>
</head>

<body>


   <header id="home">

    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="height: 653px; /*background-image: url(&quot;/static/digital/images/DIS.jpg&quot;)*/;">
        <a href="https://ktj.in" target="_blank"><img src="/static/digital/images/ktj+logo.png" style="float:left;width:75px;margin-left:50px;margin-top:40px;"></img></a>
        <img src="/static/digital/images/logo1.png" style="float:right;height:70px;margin-right:50px;margin-top:40px;"></img>

        <div class="caption" style="top:200px;color:black">
        <div class="tf-logo">
          <div style="padding-bottom:10px;"><a href="http://iitkgp.ac.in" target="_blank">
          <img src="/static/digital/images/iitkgp1.png" style="width:75px;margin-right:30px;"></a> & <a href="http://www.samsung.com/in/home/" target="_blank">
          <img src="/static/digital/images/samsung.png" style="height:70px;margin-left:30px;"></a></div>
          <h3>present</h3>
          </div>
           
            
            <img src="/static/digital/images/Picture3.png"   style="width:600px;height:300px;"class="text-center">
            <div style="color:black;    text-transform: lowercase;text-align:right;padding-right:300px;">In Collabration with<a href="http://www.iamai.in/" target="_blank"><img src="/static/digital/images/iamai-logo.png" style="width:160px;"></img></a>
        </div>
          </div>
        </div>
      </div>

      <a id="toshant" href="#about"><i class="fa fa-angle-down"></i></a>

    </div>
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="row">
          <div class="col-sm-2 col-xs-5">
          <div class="scroll">
          <a href="https://ktj.in">
            <img class="img-responsive" src="/static/digital/images/ktj2016.png" style="padding-top:8%;" alt="logo">
          </a>                    
        </div>
        </div>
        <div class="col-sm-10 col-xs-9">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#about">About</a></li> 
            <li class="scroll"><a href="#summit1">India Supports</a></li>
            <li class="scroll"><a href="#workshop1">India Develops</a></li>  
            <li class="scroll"><a href="#event1">India Innovates</a></li> 
            <li class="scroll"><a href="#speaker1">India Speaks</a></li>
            <li class="scroll"><a href="#schedule">Schedule</a></li>  
            <li class="scroll"><a href="#sponsor2">Sponsors</a></li>
            <!-- <li class="scroll"><a href="#contacts">Contacts</a></li> -->     
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div></div></header>
  		<section id="about">
          <div class="container">                      
  		   <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
           <div class="row">
           <div class="text-center col-sm-12 ">
            <h2>About</h2>
            <p style="text-align:left;">Across the length and breadth of this country, India faces many challenges. But when tackled with innovation that leverages the power of technology, it can help create a transformed and digitally empowered India. Digital India is a Programme to transform India into a digitally empowered society and knowledge economy.<br>
IIT Kharagpur has been fostering innovation since inception. Being an epitome of science and technology, the institute aims to play a strategic part towards the development of the nation.<br>
IIT Kharagpur & Samsung in association with IAMAI (Internet And Mobile Association of India) present Kshitij’s Digital India Summit.</p>
<div class="row count">
        <div class="col-sm-3 col-xs-3 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
           <a href="#summit1"><img src="/static/digital/images/IndiaSupportsLogo.png" style="width:100px;height:100px;"></img>
          
          <h3 style="color:black"><b>India Supports</b></h3></a>
        </div>
        <div class="col-sm-3 col-xs-3 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="500ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 500ms; animation-name: fadeInLeft;">
          <a href="#workshop1"><img src="/static/digital/images/IndiaDevelopsLogo.png" style="width:100px;height:100px;"></img>
                            
          <h3 style="color:black"><b>India Develops</b></h3>
        </div> 
        <div class="col-sm-3 col-xs-3 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="700ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInLeft;">
           <a href="#event1"><img src="/static/digital/images/IndiaInnovatesLogo.png" style="width:100px;height:100px;"></img>
                            
          <h3 style="color:black"><b>India Innovates</b></h3>
        </div>   
        <div class="col-sm-3 col-xs-3 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="700ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 700ms; animation-name: fadeInLeft;">
           <a href="#speaker1"><img src="/static/digital/images/IndiaSpeaksLogo.png" style="width:100px;height:100px;"></img>
                             
          <h3 style="color:black"><b>India Speaks</b></h3></a>
        </div>               
      </div>

          </div>
        </div> 
      </div>
      
      </div>
  </section>

    <section  id="summit1" class="parallax">
    
      <div class="container">
        
      </div>
   
     
    </section>


  <section id="summit2">
      
      <div class="container">
        <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">

          <div class="row">
            <div class="text-center col-sm-12">
              <h1>India Supports</h1>
              <h2>Social Media Campaign</h2>
              
              <p style="text-align:left;">
Kshitij in association with Campus Diaries invites all those avid writers out there to participate in Creative Writing Competition and pen down their thoughts on the topic 
Digital India. Let your creativity flow!
Send in your entries to <a href="mailto:kshitij@ktj.in" target="_blank">kshitij@ktj.in</a> or at <a href="https://campusdiaries.com/events/india-supports-digital-india-online-event-by-kshitij-iit-kharagpur" target="_blank">Campus Diaries</a> by <b>10th January, 2016</b>.<br>
Prize money worth <b>INR 15,000</b> awaits.<br><br>
<a href="https://ktj.in/kronicle/9" target="_blank">Blog</a> on Digital India by Kshitij.</p>
<span class='st_facebook_vcount' displayText='Facebook'></span>
<span class='st_twitter_vcount' displayText='Tweet'></span>
<span class='st_googleplus_vcount' displayText='Google +'></span>
<span class='st_whatsapp_vcount' displayText='WhatsApp'></span>
            </div>
          </div>
              
              
          
        </div>
      
    </section>
      <section  id="workshop1" class="parallax">
      
        <div class="container">
          
        </div>
     
       
      </section>


    <section id="workshop2">
        
        <div class="container">
          <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">

            <div class="row">
              <div class="text-center col-sm-12">
                <h1>India Develops</h1>
                <h2>App Development Workshop</h2>
                
                <p style="text-align:left;">India Develops workshop for students is to collaborate intensively to build android applications. Inspired by the Prime Minister’s Digital India initiative, we wish to develop a new generation of android enthusiasts who have innovative solutions to the challenges faced by India. Digital India Summit provides you an opportunity to acquire a unique set of skills in the various domains of App Development through our workshop sessions.<br><br>
                  Session 1 -- App Development Life Cycle by Google<br>
                  Session 2 -- Monetization of Apps by VMAX<br><br>
                  <span class="event_reg" style="cursor:pointer;text-decoration:underline;"onclick="digitalworkshop_reg(2)">Click Here</span> to Register for the workshop.<div id='digital_2_02'></div>
</p>
              </div>
            </div>
                
                
            
          </div>
        
      </section>

  <section  id="event1"class="parallax">
  
    <div class="container">
      
    </div>
 
   
  </section>


<section id="event2">
    
    <div class="container">
      <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">

        <div class="row">
          <div class="text-center col-sm-12">
            <h1>India Innovates</h1>
            <h2>APP-A-THON</h2>
            <!-- <img src="/static/digital/images/Picture6.png" style="float:right;padding-left: 20px;"></img> -->
            <p style="text-align:left;">In this era of connectivity and high-speed Internet where we all are stepping towards a Digital India, thousands of villages and towns are still untouched by Technology and Internet. It’s time to envision a life where everyone around the globe can access the Internet and increase the knowledge about the world we live in. To make India truly digitalized, connecting every citizen to government services is the most important step. India Innovates Hackathon is an event in which programmers and professionals collaborate intensively on software projects to build an E-Governance mobile application. Kshitij in association with Google provides students an opportunity to participate in making India truly digitalized. <br><br>
            <span class="event_reg" style="cursor:pointer;text-decoration:underline;"onclick="digital_reg(1)">Click Here</span> to Register for this event.<div id='digital_1_01'></div></p><br><br>
            <div style="text-align:left;"><b>RULES &amp; REGULATIONS</b><br />
              1. Themes:
              <ul>
                <li>m-Education</li>
                <li>m-Healthcare</li>
                <li>m-Suraksha</li>
                <li>m-Banking<br />
                </li>
              </ul>
              2. Participants can submit an abstract of an already built mobile app or build a mobile app during the time provided for App-a-thon at Kshitij, IIT Kharagpur.<br />
            3. Max Team Size: 5<br />
            4. Participants need to bring their own laptops. <br />
              <p>&nbsp;</p>
              <p><b>PRIZES:</b></p>
            1st Prize : Rs.25,000<br />
              2nd Prize : Rs.15,000<br />
              3rd Prize : Rs.10,000<br />
              <br />
              The winners get direct entry into finals of the Appfest to be conducted by IAMAI.</div>
            
          </div>
        </div>
            
            
        
      </div>
    
  </section>

  </section>

  

  

  <section  id="speaker1" class="parallax">
  
    <div class="container">
      
    </div>
 
   
  </section>


<section id="speaker2">
    
    <div class="container">
      <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">

        <div class="row">
          <div class="text-center col-sm-12">
            <h1>India Speaks</h1>
            <h2>Panel Discussion by Top Tech Corporates</h2>
            
            <p style="text-align:left;">A panel discussion by top executives from technical giants would canvas suggestions to prepare India to face challenges and devise solutions to contribute towards realizing the objectives of digital India and also realize the importance of digital infrastructure to deliver services and digitally empower India.</p>
            <hr>
            <h2>Speakers</h2>
            <hr>
            <div class="col-md-4 col-sm-6 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <img src="/static/digital/images/PPC.jpg" style="border-radius:150px;width:150px;height:150px;"><br>
              <p>Dr. Partha Pratim Chakraborty</p>
              <p>Director, IIT Kharagpur</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <img src="/static/digital/images/samsung1.jpg" style="border-radius:150px;width:150px;height:150px;"><br>
              <p>Dr. Aloknath De</p>
              <p>CTO, Samsung India</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <img src="/static/digital/images/Amod-Malviya.jpg" style="border-radius:150px;width:150px;height:150px;"><br>
              <p>Mr. Amod Malviya</p>
              <p>Former CTO, Flipkart</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <img src="/static/digital/images/Sabyasachi Biswas.jpg" style="border-radius:150px;width:150px;height:150px;"><br>
              <p>Mr. Sabyasachi Biswas</p>
              <p>Client Innovation Center Lead, IBM</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <img src="/static/digital/images/virtusa.jpg" style="border-radius:150px;width:150px;height:150px;"><br>
              <p>Mr. Kartik Iyengar</p>
              <p>Vice President – AI and IoT, Virtusa</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <img src="https://lh6.googleusercontent.com/-PLXmG8mK4Gw/Vpn_w0MKREI/AAAAAAAAUdg/zkifzIomnKI/s339-no/0a31f0c.jpg" style="border-radius:150px;width:150px;height:150px;"><br>
              <p>Mr. Pranab Punj</p>
              <p>Vice President - Global Marketing, VMAX</p>
              </div>
              
          </div>
        </div>
            
            
        
      </div>
    
  </section>
  
    <div id="schedule" name="schedule">
    <div class="container">
        <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
          <div class="wow fadeIn animated animated" style="visibility: visible; animation-name: fadeIn;">
          <hr>
          <h1 class="text-center">Schedule</h1>
          <hr>
          
          <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">

          <div class="cd-timeline-img cd-picture">
            
          </div> 

          <div class="cd-timeline-content">
            <b><p style="float:right">India Develops</p>
            <span class="cd-date" style="float:left;">22nd Jan 9:00AM - 1:00PM</span></b>
          </div> 
        </div> 

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div> 

          <div class="cd-timeline-content">
            <b><p>India Innovates Event</p>
            <span class="cd-date">22nd Jan 3:00PM - 23rd Jan 12 noon</span></b>
          </div> 
        </div> 

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
          </div> 

          <div class="cd-timeline-content">
            <b><p style="float:right">India Innovates Presentation</p>
            <span class="cd-date">23rd Jan 2:00PM - 5:00PM</span></b>
          </div> 
        </div> 

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-movie">
          </div> 

          <div class="cd-timeline-content">
            <b><p>India Speaks - Panel Discussion</p>
            <span class="cd-date">23rd Jan 6:00PM</span></b>
          </div> 
        </div> 

        

       

      </section>
    </div>
    </div>
    </div>

<section id="sponsor2">
    
    <div class="container">
      <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">

        <div class="row">
          <div class="text-center col-sm-12 spons">
            <hr>
            <h1>Sponsors</h1>
            <hr>
            <div class="logo">

                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="padding-left:30px;padding-top:10px; margin-bottom:20px;">
              <p><b><u>TITLE SPONSOR</u></b></p>
              <a href="http://www.samsung.com/in/home/" target="_blank"><img src="/static/digital/images/samsung.png" width="270px"></a>
              </div>

              </div>
              <div class="logo">
              
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="padding-left:30px;padding-top:10px; ">
                <p><b><u>ASSOCIATIONS</u></b></p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0px;padding-bottom: 10px;padding-top: 10px;">
             
              <a href="http://www.virtusa.com/"><img src="/static/digital/images/VirtusaLogo-PNG.png" style="width:250px;"></a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0px;padding-bottom: 10px;padding-top: 10px;">
             
              <a href="http://www.ibm.com/in-en/"><img src="/static/digital/images/ibm.png" style="width:250px;"></a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0px;padding-bottom: 10px;padding-top: 10px;">
             
              <a href="http://www.flipkart.com/"><img src="/static/digital/images/flipkart_logo_detail.jpg" style="width:300px;height: 100px;"></a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0px;padding-bottom: 10px;padding-top: 10px;">
             
              <a href="http://www.iamai.in/"><img src="/static/digital/images/final-mobile-10-x-logo.png" style="width:250px;"></a>
              </div>
              
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:70px;padding-bottom: 10px;padding-top: 10px;">
              
              <a href="https://www.google.co.in"><img src="/static/digital/images/google_2015_logo_detail.png" style="width:250px;" ></a>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0px;padding-bottom: 10px;padding-top: 10px;">
             
              <a href="https://paytm.com/"><img src="/static/digital/images/Paytm_logo.png" style="width:250px;height: 90px;"></a>
              </div>
              
              
              <div class="col-md-4 col-sm-4 col-xs-12" style="padding-left:0px;padding-bottom: 10px;padding-top: 10px;">
             
              <a href="http://vmax.com/"><img src="/static/digital/images/VMAX.png" style="width:250px;"></a>
              </div>
              

              
          </div>

              <div class="logo">
              
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="padding-left:30px;padding-top:10px; ">
                <p><b><u>Media Partners</u></b></p>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-12" style="padding-left:50px;padding-bottom: 10px;padding-top: 10px;">
              
              <a href="http://timesofindia.indiatimes.com/India"><img src="https://ktj.in/static/sponsors/2016/toi.jpg" width="350px"></a>
              </div>
              <div class="col-md-6 col-sm-4 col-xs-12" style="padding-left:70px;padding-bottom: 10px;padding-top: 10px;">
              
              <a href="https://campusdiaries.com/"><img src="http://www.ktj.in/static/sponsors/2016/campus.png" width="150px" ></a>
              </div>
              

              
          </div>
        </div>
            
            
        
      </div>
    
  </section>

  <section id="contacts">
    <div class="container">
      <div class="heading wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">

        <div class="row">
          <div class="text-center col-sm-12 spons">
            <hr>
            <h1>Contacts</h1>
            <hr>
            <div class="col-md-6 col-sm-3 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <h3><b>Vipul Bhola</b></h3>
              <a href="mailto:vipul.bhola@ktj.in" target="_blank"><p style="text-decoration:none;color:black;">vipul.bhola@ktj.in</p></a>
              <p>+917063599189</p>

              </div>
              <div class="col-md-6 col-sm-3 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <h3><b>Sunil Tatipelly</b></h3>
              <a href="mailto:sunil.tatipelly@ktj.in" target="_blank"><p style="text-decoration:none;color:black;">sunil.tatipelly@ktj.in</p></a>
              <p>+919800116113</p>

              </div>
              <div class="col-md-6 col-sm-3 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <h3><b>Kartikeya Fatwani</b></h3>
              <a href="mailto:kartikeya.fatwani@ktj.in" target="_blank"><p style="text-decoration:none;color:black;">kartikeya.fatwani@ktj.in</p></a>
              <p>+917063599181</p>

              </div>
              <div class="col-md-6 col-sm-3 col-xs-12 " style="padding-top:10px; margin-bottom:20px;">
              <h3><b>Kushal Warke</b></h3>
              <a href="mailto:kushal.warke@ktj.in" target="_blank"><p style="text-decoration:none;color:black;">kushal.warke@ktj.in</p></a>
              <p>+917063599183</p>

              </div>
              
        </div>
            
            
        </div></div>
      </div>
  </section>

  
  <script type="text/javascript" src="/static/digital/jquery.js"></script>
  <script type="text/javascript" src="/static/digital/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/digital/js"></script>
  <script type="text/javascript" src="/static/digital/jquery.inview.min.js"></script>
  <script type="text/javascript" src="/static/digital/wow.min.js"></script>
  <script type="text/javascript" src="/static/digital/mousescroll.js"></script>
  <script type="text/javascript" src="/static/digital/smoothscroll.js"></script>
  <script type="text/javascript" src="/static/digital/jquery.countTo.js"></script>
  <script type="text/javascript" src="/static/digital/lightbox.min.js"></script>
  <script type="text/javascript" src="/static/digital/main.js"></script>
  <script type="text/javascript" src="/static/digital/form.js"></script></body></html>