{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <!-- Description -->
            <title>Kolkata Workshop - Kshitij 2016 - The Annual Techno-management Fest of IIT Kharagpur</title>
            <meta name="description" content="The 13th edition of Asia's largest techno-management fest, conducted by IIT Kharagpur." />
            <meta name="keywords" content="Kshitij,2016, Kshitij 2016, Asia's largest, Techno-management fest, Online Events, IIT Kharagpur, technology, management, ASME, IEEE, ACM, ASHRAE, IMechE, college fest, university, India, IIT, Indian Institute of technology, Kshitij 2015, technical fest, events, megashows,guests, workshops, c-monopoly, forex, excaliber, cryptex, innovation, Online Competitions, West Bengal, Bombay, Delhi, Science, robotix, robotics, India, Kgp, IIT Kgp" />
            <base href="" />
        <!-- -->

<!-- Aplication icons -->
            <meta name="mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-status-bar-style" content="black" />
            <link rel="shortcut icon" sizes="196x196" href="{% static 'administrator/media/page/app_icon_196.png' %}"  />
            <link rel="shortcut icon" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="shortcut icon" sizes="24x24" href="{% static 'administrator/media/page/icon.png' %}" />
            <link rel="apple-touch-icon" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="apple-touch-icon-precomposed" sizes="128x128" href="{% static 'administrator/media/page/app_icon_128.png' %}" />
            <link rel="apple-touch-startup-image" href="{% static 'administrator/media/page/app_icon_196.png' %}" />
        <!-- -->
        <!-- Share -->
            <meta property="og:title" content="Kolkata Workshop - Kshitij 2016 - The Annual Techno-management Fest of IIT Kharagpur" />
            <meta property="og:description" content="The 13th edition of Asia's largest techno-management fest, conducted by IIT Kharagpur." />
            <meta property="og:image" content="http://ktj.in/static/images/kolkata.jpg" />
            <meta property="og:url"           content="http://ktj.in/kolkataworkshop" />
            <meta itemprop="sameas" content="https://en.wikipedia.org/wiki/Kshitij" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
            <link rel="canonical" href="http://ktj.in/kolkataworkshop" />
        <!-- -->
    <!-- <link href="{% static 'accounts/css/base.css' %}" rel="stylesheet"/> -->

    <!--  Android 5 Chrome Color-->
        <meta name="theme-color" content="#DE3454">
    	<link href="/static/css/prism.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
        <link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="http://cdn.transifex.com/live.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        

        <style type="text/css">
        .mobileShow { display: none;}
           /* Smartphone Portrait and Landscape */
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 480px){ .mobileShow { display: inline;}}

        .mobileHide { display: inline;}
           /* Smartphone Portrait and Landscape */
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 480px){  .mobileHide { display: none;}}
        </style>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=474870909342121";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
          <script>  
            var OneSignal = OneSignal || [];

            OneSignal.push(["init", {appId: "b28f8d76-8543-11e5-9e74-a0369f2d9328", subdomainName: "kshitij"}]);
          </script>
                    

</head>
<body>

	        <!-- Header Starts -->
			<header>
	              <nav class="top-nav fixed">
	                      <div class="container">
	                        <div class="nav-wrapper"><a class="page-title">Kolkata Workshop</a>
	                        <ul class="right" style="padding-top:25px;">
	                              <a class="dropdown-button waves-effect waves-light" href="#!" data-activates="dropdown-more" ><i class="mdi-navigation-more-vert"></i></a>
	                                <ul id="dropdown-more" class="dropdown-content" style="margin-left: 0px; z-index: 99999; overflow: visible; min-width: 148px !important; width: 68px; position: absolute; top: 0px; left: 928px; opacity: 1; display: none;">
	                                  
	                                  <li><a class="waves-effect waves-dark modal-trigger" href="http://m.ktj.in/accounts/profile">Profile</a></li>
	                                  <!-- <li class="divider"></li> -->
	                                  <li><a class="waves-effect waves-dark modal-trigger" href="http://m.ktj.in/accounts/logout">Logout</a></li>
	                                  
	                               
	                                </ul>
	                          </ul></div>
	                      </div>
	                    </nav>
	               <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
	              <ul id="nav-mobile" class="side-nav fixed">
	                <li class="logo"><a id="logo-container" href="/" class="brand-logo">
	                    <object id="front-page-logo" type="image/png" data="/static/images/mobile/logo.png">Your browser does not support SVG</object></a></li>
	                <li class="search">
	                  <div class="search-wrapper card">
	                    <input id="search"><i class="material-icons">search</i>
	                    <div class="search-results"></div>
	                  </div>
	                </li>
	                <li class="bold"><a href="http://m.ktj.in/" class="waves-effect waves-red">Home</a></li>
	                <li class="no-padding">
	                  <ul class="collapsible collapsible-accordion">
	                    <li class="bold"><a class="collapsible-header  waves-effect waves-red">Events</a>
	                      <div class="collapsible-body">
	                        <ul>
	                          <li><a href="http://m.ktj.in/events?genre=1"><img class="genre-icons" src="/static/images/mobile/1.png"></img>Genesis</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=2"><img class="genre-icons" src="/static/images/mobile/2.png">Quizzard</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=3"><img class="genre-icons" src="/static/images/mobile/3.png">Conceptualise</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=4"><img class="genre-icons" src="/static/images/mobile/4.png">Theories N Core</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=5"><img class="genre-icons" src="/static/images/mobile/5.png">Robotix</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=6"><img class="genre-icons" src="/static/images/mobile/6.png">Ab-Initio</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=7"><img class="genre-icons" src="/static/images/mobile/7.png">Strategia</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=8"><img class="genre-icons" src="/static/images/mobile/9.png">Tech4Fun</a></li>
	                          <li><a href="http://m.ktj.in/events?genre=9"><img class="genre-icons" src="/static/images/mobile/8.png">IDP</a></li>
	                        </ul>
	                      </div>
	                    </li>
	                  </ul>
	                </li>
	                <li class="bold"><a href="http://m.ktj.in/sponsors" class="waves-effect waves-red">Sponsors</a></li>
	                <li class="bold"><a href="http://m.ktj.in/guests" class="waves-effect waves-red">Guests</a></li>
	                <li class="bold"><a href="http://m.ktj.in/workshops" class="waves-effect waves-red">Workshops</a></li>
	                <li class="bold"><a href="http://m.ktj.in/exhibitions" class="waves-effect waves-red">Exhibitions</a></li>
	                <li class="bold"><a href="http://m.ktj.in/megashows" class="waves-effect waves-red">Megashows</a></li>
	                <li class="bold "><a href="http://m.ktj.in/contacts" class="waves-effect waves-red">Contacts</a></li>
	              </ul>
	            </header>
	            <!-- Header Ends -->

	            <!-- Main Page Starts -->
	            <main >
	           <div class="" style="background-image: url('/static/images/mobile/gl1.jpg');background-size: 100% 300px;background-repeat: no-repeat;z-index:-10;">
	           <div class="section" style="width: 70%;margin-left: auto;margin-right: auto;padding-bottom: 41px;background-color: transparent;z-index:0;display:block;">
	             <div class="" style="margin-top: 100px;padding-top: 20px;background-color: #FFFFFF;height: auto; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);padding-bottom: 20px;">
	             <div class="row container">
	               <h2 class="header center-align">Kolkata Workshop</h2>
	               <p class="grey-text text-darken-3 lighten-3">For all those enthusiasts in Robotics and learning the latest innovations in technology, Kshitij IIT Kharagpur brings you Robotics Workshop.<br><br>
	               	<div class="mobileHide"style="float:right;padding-bottom:10px;">
					<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="350" height="350" src="https://maps.google.com/maps?hl=en&q=Vidya Mandir Auditorium&ie=UTF8&t=roadmap&z=19&iwloc=B&output=embed"></iframe>
					</div>
					<div style="text-align:center;">
					<b>Venue:</b> Vidya Mandir Auditorium, Near Minto park/Birla High School, 1 & 2 Moira Street, Elgin, Kolkata-700017<br>
					<br>
					
					<b>Date:</b> 8th November, 2015<br><br>

					<b>Time:</b> 10 am - 1 pm<br>
					<a href="#" id="registerForPushLink">Subscribe to Notifications</a>  
					  <script>
					  OneSignal.push(function() {
					    function registerForPush(event) {
					      OneSignal.push(["registerForPushNotifications"]);
					      event.preventDefault();
					    }
					    document.getElementById("registerForPushLink").addEventListener('click', registerForPush, false);

					  });
					  </script>
				</p>

					
					<a class="waves-effect waves-light btn" style="margin-top:20px;" onclick="event_reg(1000)">Register</a>
					<div id='event_1000_06_01' ></div></div>
	               
	               <br><br>
					 <div style="padding-top:20px;text-align:center;"><b style="">Share This</b><br>
					 <div class="fb-share-button" style="vertical-align: super;"data-href="http://ktj.in/kolkataworkshop" data-layout="button_count"></div>
					 <div class="g-plus"  data-action="share" data-annotation="bubble" data-expandTo="bottom"data-href="http://ktj.in/kolkataworkshop" data-height="24"></div>
					 

					
					<div>
					
					<div class="mobileShow">
					<div style="float:left;padding-bottom:10px;">
					<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="500" height="400" src="https://maps.google.com/maps?hl=en&q=Vidya Mandir Auditorium&ie=UTF8&t=roadmap&z=19&iwloc=B&output=embed"></iframe>
					</div>
					</div>
	           </div>
	           </div>
	         </div>
	       </main>

	       <footer class="page-footer" style="background-color:#ee6e73;padding-top:0px;margin-top:0px;">
	             
	             <div class="footer-copyright">
	               <div class="container">
	               © 2015-2016 Kshitij
	               <div class="social-buttons col s12 right" style="margin:12px;">
	                         <a href="https://www.facebook.com/ktj.iitkgp" target="_blank"><img src="/static/images/mobile/02_facebook.png" style="margin-top:-12px;"></a>
	                         <a href="https://twitter.com/ktj_iitkgp" target="_blank"><img src="/static/images/mobile/01_twitter.png" style="margin-top:-12px;"></a>
	                         <a href="https://www.youtube.com/user/ktjiitkgp?sub_confirmation=1" target="_blank"><img src="/static/images/mobile/03_youtube.png" style="margin-top:-12px;"></a>
	                         <a href="https://instagram.com/ktj.iitkgp/" target="_blank" ==""><img src="/static/images/mobile/10_instagram.png" style="margin-top:-12px;"></a>
	                     </div>
	               </div>
	             </div>
	           </footer>
	     


	<!--  Scripts-->
	            <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	            <script>if (!window.jQuery) { document.write('<script src="js/jquery-2.1.1.min.js"><\/script>'); }
	            </script>
	            <script src="/static/js/jquery.timeago.min.js"></script>
	            <script src="/static/js/prism.js"></script>
	            <script src="/static/js/lunr.min.js"></script>
	            <script src="/static/js/search.js"></script>
	            <script src="/static/js/materialize.js"></script>
	            <script src="/static/js/init.js"></script>

	    <style type="text/css">
	    .card:hover{
	      transition: box-shadow .25s;
	          box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	    }
	    </style>
	    <script type="text/javascript">
	    function event_reg(id)
	    {
	        $("#event_1000_06_01").load('/eventreg/register_w');
	        Materialize.toast($("#event_1000_06_01"), 5000);
	    }
	    </script>

</body>
</html>