<form method="POST" id="update_password">
    {% csrf_token%}
<div id="m_profile" style="top:0px;">
    
    <div class="m_title">Change Password</div>

    <div class="profile_content">
        <span class="m_content_title">Username</span>
        <div class="m_profile_field" id="m_username">
            <input type="text" name="m_profile_username" value="{{user.username}}" readonly="readonly">
        </div>
    </div>

    <div class="profile_content">
        <span class="m_content_title">Old Password</span>
        <div class="m_profile_field" id="m_oldpwd">
            <input id="id_old_password" name="old_password" type="password">
        </div>
    </div>
    
    <div class="profile_content">
        <span class="m_content_title">New Password</span>
        <div class="m_profile_field" id="m_newpwd1">
            <input id="id_new_password1" name="new_password1" type="password">
        </div>
    </div>
    
    <div class="profile_content">
        <span class="m_content_title">Re-enter New Password</span>
        <div class="m_profile_field" id="m_newpwd2">
            <input id="id_new_password2" name="new_password2" type="password">
        </div>
    </div>
    <span id="passwordErrMsg">
    </span>
    

    <button type="button" onclick="update_password()" class="signup_click" id="m_event_reg_button">Change Password</button>
    
</div>
</form>
<!-- <form action="" method="post">
{% csrf_token %}
    <div id="m_profile" class="scroll">
        {% if form.errors %}
            <p class="errornote">
            Please correct the error or errors below.
            </p>
        {% endif %}

        <div class="m_title">Password Change</div>

        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

        <fieldset class="module aligned wide">

        <div class="form-row">
            {{ form.old_password.errors }}
            <label for="id_old_password" class="required">Old password:</label>{{ form.old_password }}
        </div>

        <div class="form-row">
            {{ form.new_password1.errors }}
            <label for="id_new_password1" class="required">New password:</label>{{ form.new_password1 }}
        </div>

        <div class="form-row">
        {{ form.new_password2.errors }}
            <label for="id_new_password2" class="required">Password (again):</label>{{ form.new_password2 }}
        </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="Change My Password" class="default" />
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </div>
</form> -->