<div id="myktj_instruction" style="padding-top:770px;font-family:Nexa-Light;">
<p><strong>Profile :</strong><br />
	<br>
  1) You can change all your details here except username and  mail id.<br />
  2) Click on the tab which you want to change and type to  change it.<br />
  3) Click on the Update button in the bottom to update your  details.</p>
<p><br />
 <!--  <strong>Change Password :</strong><br /><br>
  1) To change your password, first type your Old Password and  then your New Password twice <br />
  2) Then Click on the Change Password button to change the  password.</p>
<p><br /> -->
  <strong>Manage Teams :</strong></p>
<ul>
  <li><strong>Event  Registrations:</strong></li>
</ul>
<p><strong>                </strong>1) You can register for any  event here.<br />
  <strong>                </strong>2) You  can select any event in the drop box which is shown genre wise.<br />
  <strong>                </strong>3)  Click on the event which you want to register and then click on the register  button.<br />
  <strong>                </strong>4) The  events which you have registered already will be shown in green colour.</p>
<ul>
  <li><strong>Team  Formation :</strong></li>
</ul>
<p><strong>                </strong>1) You can form a team in  your desired event.<br />
  <strong>                </strong>2)  Select the event and then then click on create team button.<br />
  <strong>                </strong>3) A team will be automatically  formed in the Team Management tab with a specific team id. <br />
  <strong>                </strong>4) Only the event in which  you have registered will be shown in the drop box.</p>
<ul>
  <li><strong>Team  Management :</strong></li>
</ul>
<p><strong>                </strong>1) Only the person who creates  the team can manage the team. He would be the admin of the team.<br />
  <strong>                </strong>2) Admin can send invitations to  any other user by searching their name or username in the search box. <br />
  <strong>                </strong>3) Once the user accepts the  invitation, his name would appear in the team membership tab.<br />
  <strong>                </strong>4)  Admin can also delete his team by clicking on Dismantle Team button.<br />
  <strong>                </strong>5) He  can also see the no of members in his team in his tab.</p>
<ul>
  <li><strong>Team  Membership :<br />
  </strong>  1) In this tab, you can see which teams you are a  part but not the admin of.<br />
  2)
  You can chose to leave the team of you wish to  here.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Manage Invitations :</strong></p>
<ul>
  <li><strong>Pending  Requests:</strong></li>
</ul>
<p><strong>                </strong>1) In this tab, you can see  the requests which you got to join the teams for a specific event.<br />
  <strong>                </strong>2) You  can accept the invitation or ignore the invitation<strong>.</strong></p>
<ul>
  <li><strong>Invites  Sent :</strong></li>
</ul>
<p><strong>                </strong>1) This tab contains  invitations which you have sent to other members to join your team.</p>
<p><br />
  <strong>Submissions :</strong><br /><br>
  1) You can select the event in which you want to make the  submissions and then upload your submission.<br />
  2) Submission must be in .pdf, .docx and .zip only.<br />
  3) The maximum size of submission is 5 Mb.<br />
  4) You can also make the submission more than once.</p>
</div>